<?xml version='1.0' encoding='UTF-8'?>
<jenkins.model.JenkinsLocationConfiguration>
  <adminAddress>{{jenkins.admin_mail}}</adminAddress>
  <jenkinsUrl>http://{{jenkins.domain}}/</jenkinsUrl>
</jenkins.model.JenkinsLocationConfiguration>

